.movie-card {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .movie-card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .movie-poster {
    width: 100%;
    height: auto;
  }
  
  .movie-info {
    text-align: center;
    padding: 10px 0;
    background-color: #222;
    color: white;
    font-size: 14px;
  }
  