.navbar {
    background-color: #073c6a;
    color: white;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-logo {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    gap: 1rem;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.navbar-link:hover {
    color: #ffdd57;
}